@import 'normalize.css';
@import 'colors.scss';

.wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: wheat;
  .search-form{
    width: 536px ;
    display: inline-flex;
    border: 1px solid rgba(108, 99, 255, 1);
    padding: 8px 20px 0 0;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;

    .search-form__text{
      background-color: transparent;
      color: rgba(108, 99, 255, 1);
      margin: -3px 0 0 10px;
      border: none;
      width: 536px;
      height: 38px;
      outline: none;
      font-size: 18px;
    .btn{
    background-color: transparent;
      .search-form__img{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        cursor: pointer;
     

      }
      }
    }
  }
}
ul {

  li{
  width: 520px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding:  10px 0 0 0;
  border-top: 1px solid;
  
  


  }
}
.search-form__filters{
  // display: flex;
  // justify-content: start;
  // border: 1px solid black;
  // max-height: 100vh;
  // width: 500px;
}










.new-todo__btn{
  position: absolute;
  bottom: 20px;
  right: 20px;
}



















// Попуп (модальное окно)
.popup{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #00000083;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease 0s;
  .popup__body{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px 30px 10px;
    .popup__content{
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 20px;
      background-color: #fff;
      color: #000;
      width:600px;
      height: 300px;
      padding: 30px;
      transition: all 0.8s ease 0s;
      opacity: 0;
      transform: perspective(600px) translate(0px, -100px) rotateX(45deg);
      .popup__title{
        margin: 0 0 1em 0;
        font-family: Kanit;
        font-size: 24px;
        font-weight: 500;
        line-height: 24px;
        text-align: center;
      }
      .popup-form__text{
        width: 440px ;
        display: inline-flex;
        border: 1px solid rgba(108, 99, 255, 1);
        padding: 0 0 0 10px;
        justify-content: center;
        align-items: center;
        height: 50px;
        border-radius: 5px;
        overflow: hidden;
        background-color: #fff;
      }
      
}
}
}
.popup__conteiner-btn{
  width: 100%;
  height: 220px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-end;
.popup__btn{
  
       
        a{
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          font-weight:800;
        }
      }
    }

    .wit a{
      border: 1px solid rgba(108, 99, 255, 1);
      border-radius:10px;
      width: 100px;
      height: 40px;
      color:rgba(108, 99, 255, 1);
    }
    .bl a{
      border-radius:10px;
      width: 100px;
      height: 40px;
      background-color:rgba(108, 99, 255, 1);
      color:white;
    }
    .popup:target{
      opacity: 1;
      visibility: visible;
    }
    .popup:target .popup__content{
      transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
      opacity: 1;

    }